Port=5000
MONGO_URI=mongodb+srv://rudranshk168_db_user:Aish@2284@mecha.svx0u2c.mongodb.net/?appName=mecha
JWT_SECRET=Dean_winchester
JWT_EXPIRE=7d

# Nodemailer (for contact form emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_EMAIL=noreply@mechauto.com
TO_EMAIL=admin@mechauto.com
